body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Posts */

.post, #profile, #modify, #new-post {
  margin-top: 30px !important;
  max-width: 800px !important;
}

.post, #new-post {
  margin: 30px auto 0 auto !important;
}

.new-post-inputs {
  padding: 20px 0 !important;
}

button {
  margin: 0 10px;
}

/* Navbar */

ul li:last-child {
  margin-bottom: 10px;
}

.mobile-theme-btn {
  margin-top: 8px !important;
}

/* Profile */

.profile-pic {
  border-radius: 15px !important;
  padding: 10px !important;
}

#profile > p {
  margin: 0;
  padding: 15px 0 5px 0 !important;
}
